<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        {% include '_snippet/_nav/_language' %}
    </div>
</div>
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div class="fl_left flex">
            <div id="logo">
                <a href="{{ siteUrl }}">
                    <img src="{{ logo.image.one().getUrl() }}" alt="Sociaal Woonkrediet">
                </a>
            </div>
        </div>
    </header>
    {% include '_snippet/_nav/_main' %}
</div>