/*
    Logo GREEN : #8ab62a
    Logo BLUE : #385ca7
 */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

h1, h2, h3, h4 {

    text-transform: none;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 3em;
    color: #777;
    padding-left: 3.06748466257669%;
}

h2 {
    font-size: 2em;
    color: #777;
}

h3 {
    font-size: 1.6em;
    color: #777;
}

h4 {
    font-size: 1.3em;
    color: #777;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.heading {
    font-family: sans-serif;
    letter-spacing: 0.07em;
}

#mainav {
    width: 35%;
    background-color: #8ab62a;
}

#mainav > ul.mobile-hide {
    display: none;
}

#mainav .mobile-menu {
    display: block;
}

@media screen and (max-width:450px){
    #mainav { width: 200px; }
}

@media screen and (min-width: 750px) {
    #mainav {
        width: 100%;
    }

    #mainav > ul.mobile-hide {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #mainav .mobile-menu {
        display: none;
    }
}

#mainav form select {
    background: #8ab62a;
    color: white;
}

#logo img {
    display: block;
    width: 100%;
}
#quickinfo {
    text-transform: none !important;
}

#quickinfo strong {
    padding-bottom: 1em !important;
}

#quickinfo p {
    line-height: 1.8em;
    margin: 0;
}

#footer {
    background-color: #555;
    padding: 10px 0 30px 0;
    margin: 120px auto 0 auto;
}

#footer .footer-link {
    color: white;
}

#footer .footer-link:hover,
#footer .footer-link:focus {
    color: #8ab62a;
}

#footer .footer-link:active {
    color: #ddd;
}

.wrapper--hero {
    background: #ddd !important;
}

.section--header {
    display: block;
    padding: 75px 0 30px 0 !important;
}

.wrapper-top {
    margin-top: 4em;
    margin-bottom: 2em;
}

.link {
    color: #8ab62a !important;
    text-decoration: underline !important;
}

.link:hover, .link:focus {
    color: #8ab62a !important;
    text-decoration: none !important;
}

.link:active {
    color: #000 !important;
    text-decoration: none !important;
}

.map {
    height: 400px;
    width: 100%;
}

.map.map-home {
    height: 600px;
}

#pageintro li .heading {
    color: #ddd
}

.block--grey {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background: #f6f6f6;
    transition: 0.2s all;
}

a.block--grey:hover,
a.block--grey:focus {
    background: #eee;
}

.block--location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.block--location .icon--location {
    display: block;
    width: 7%;
}

.block--location .info--location {
    display: block;
    width: 92%;
    position: relative;
}

.block--location .icon--location i {
    font-size: 2em;
    margin: 0 auto;
    padding-top: 60%;
    text-align: center;
    color: #ddd !important;
}

table th {
    background: #8ab62a;
}

.cities a {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.cities a:hover, .cities a:focus {
    color: #607f1d;
}

.cities a.city-active {
    background: #8ab62a;
    color: white;
}

a {
    color: #8ab62a;
}

a:hover, a:focus {
    color: #607f1d;
}

a:active {
    color: #7d7d7d;
}

/* MAIN + MOBILE MENU */
.main-navigation ul {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    width: 65vw;
    float: right;
    z-index: 500 !important;
    position: relative;
}

.main-navigation ul li {
    display: block;
    margin: 0 15px;
}

.main-navigation ul li a {
    font-size: 0.9em;
    font-weight: 300;
    padding: 0;
    background-image: linear-gradient(to bottom, #fefcf6, #fcf0d6);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 95% 0;
    text-decoration: none;
    color: #333;
    transition: 0.2s all;
}

.main-navigation ul li a:hover,
.main-navigation ul li a:focus {
     color: #666;
     text-decoration: none;
     background-size: 95% 12px;
}

.mobile-menu {
    display: block;
}
.navigation {
    display: block;
    position: absolute;
    top: 30px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
.close-menu {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    line-height: 49px;
}
.close-menu:hover{
    color: #f5d8a2;
}
.menu-wrap a {
    color: #fff;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #aaa;
}
/* Menu Button */
.menu-button {
    position: fixed;
    right: 15px;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    outline: 0;
}
.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: '';
}
.menu-button:hover {
    opacity: 0.6;
}

.menu-wrap {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #8ab62a;
    background-position: center center;
    background-size: cover;
    font-size: 1.15em;
    display: table;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.menu,
.menu-list {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px
}
.menu-content {
    padding-top: 120px;
}
.menu-list ul {
    padding: 0;
}
.menu-list ul li {
    display: block;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
}
.menu-list,
.menu-list ul li {
    transition: -webkit-transform 0s 0.4s;
    transition: transform 0s 0.4s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
}
.menu-list ul li:nth-child(1) {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}
.menu-list ul li:nth-child(2) {
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
}
.menu-list ul li:nth-child(3) {
    -webkit-transform: translate3d(1000px, 0, 0);
    transform: translate3d(1000px, 0, 0);
}
.menu-list ul li:nth-child(4) {
    -webkit-transform: translate3d(1500px, 0, 0);
    transform: translate3d(1500px, 0, 0);
}
.menu-list ul li:nth-child(5) {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
}
.menu-list ul li:nth-child(6) {
    -webkit-transform: translate3d(2500px, 0, 0);
    transform: translate3d(2500px, 0, 0);
}
.menu-list ul li:nth-child(7) {
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
}
.menu-list ul li a {
    text-align: left;
    font-weight: 200;
    font-size: 16px;
    font-family: "Hind Vadodara", sans-serif;
    letter-spacing: 2.5pt;
    transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
    -webkit-transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
    -moz-transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
    -o-transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
}

.menu-list ul li a:hover,
.menu-list ul li a:focus {
    text-decoration: none;
    color: #f5d8a2;
    padding-left: 10px;
}

.menu-list ul li a:active {
    color: darkgray;
}

/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.show-menu .menu-list,
.show-menu .menu-list ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.show-menu .menu-list ul li {
    transition-duration: 0.9s;
    text-decoration: none;
    margin-bottom: 20px;
    /*line-height: 42px;*/
}
.show-menu .content::before {
    opacity: 1;
    transition: opacity 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.main-menu-indicator {
    display: block;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
    height: 62px;
    width: 125px;
    background: transparent;
    outline: 0;
    position: relative;
    font-size: 18px;
    margin: 0 auto;
    /*margin: 17px 0 17px 0;*/
}
.main-menu-indicator:hover {
    border: 0;
    box-shadow: none;
}
.main-menu-indicator>span {
    transition: all 0.1s ease 0s;
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 32px;
    left: 0;
    /*right: 0;*/
    margin: auto;
    background: white;
}
.main-menu-indicator>span:before,
.main-menu-indicator>span:after {
    transition: all 0.2s ease 0s;
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: white;
    left: 0;
}
.main-menu-indicator>span:after {
    top: -5px;
}
.main-menu-indicator>span:before {
    bottom: -5px;
}

.main-menu-indicator.active>span {
    background: transparent;
}

.main-menu-indicator.active>span:after {
    top: 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.main-menu-indicator.active>span:before {
    bottom: 0;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

@media screen and (max-width:750px){

    .main-navigation ul {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }
}