/*
    Logo GREEN : #8ab62a
    Logo BLUE : #385ca7
 */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

h1, h2, h3, h4 {

    text-transform: none;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 3em;
    color: #777;
    padding-left: 3.06748466257669%;
}

h2 {
    font-size: 2em;
    color: #777;
}

h3 {
    font-size: 1.6em;
    color: #777;
}

h4 {
    font-size: 1.3em;
    color: #777;
}

.flex {
    display: flex;
}

.heading {
    font-family: sans-serif;
    letter-spacing: 0.07em;
}

#mainav {
    background-color: #8ab62a;
}

#mainav > ul {
    display: none;
}
@media screen and (min-width: 750px) {
    #mainav > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#mainav form select {
    background: #8ab62a;
    color: white;
}

#logo img {
    display: block;
    width: 100%;
}
#quickinfo {
    text-transform: none !important;
}

#quickinfo strong {
    padding-bottom: 1em !important;
}

#quickinfo p {
    line-height: 1.8em;
    margin: 0;
}

#footer {
    background-color: #555;
    padding: 10px 0 30px 0;
    margin: 120px auto 0 auto;
}

#footer .footer-link {
    color: white;
}

#footer .footer-link:hover,
#footer .footer-link:focus {
    color: #8ab62a;
}

#footer .footer-link:active {
    color: #ddd;
}

.wrapper--hero {
    background: #ddd !important;
}

.section--header {
    display: block;
    padding: 75px 0 30px 0 !important;
}

.wrapper-top {
    margin-top: 4em;
    margin-bottom: 2em;
}

.link {
    color: #8ab62a !important;
    text-decoration: underline !important;
}

.link:hover, .link:focus {
    color: #8ab62a !important;
    text-decoration: none !important;
}

.link:active {
    color: #000 !important;
    text-decoration: none !important;
}

.map {
    height: 400px;
    width: 100%;
}

.map.map-home {
    height: 600px;
}

#pageintro li .heading {
    color: #ddd
}

.block--grey {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background: #f6f6f6;
    transition: 0.2s all;
}

a.block--grey:hover,
a.block--grey:focus {
    background: #eee;
}

.block--location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.block--location .icon--location {
    display: block;
    width: 7%;
}

.block--location .info--location {
    display: block;
    width: 92%;
    position: relative;
}

.block--location .icon--location i {
    font-size: 2em;
    margin: 0 auto;
    padding-top: 60%;
    text-align: center;
    color: #ddd !important;
}

table th {
    background: #8ab62a;
}

.cities a {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.cities a:hover, .cities a:focus {
    color: #607f1d;
}

.cities a.city-active {
    background: #8ab62a;
    color: white;
}

a {
    color: #8ab62a;
}

a:hover, a:focus {
    color: #607f1d;
}

a:active {
    color: #7d7d7d;
}