<div class="wrapper wrapper-top">
    <div class="hoc clear">
        <div class="group">
            <div class="two_third first">
                <img src="{{ block.image.one().getUrl() }}" alt="{{ block.image.one().title }}">
            </div>
        </div>
    </div>
</div>