<div class="wrapper wrapper-top">
    <div class="hoc clear">
        <div class="group">
            <div class="one_half first">{{ block.textOne }}</div>
            <div class="one_half">{{ block.textTwo }}</div>
        </div>
    </div>
</div>